/* ===== COLORS & FONTS ===== */
/*  Dark Gray: #3E4C52;
    Light Gray: BG #FDFDFD;
    Magenta: #FF2093;
    Yellow: #FFE93B;
    Blue: #2087B3;
    Heading Font: 'Patua One', cursive;
    Paragraph & Nav Font: 'Montserrat', sans-serif; */

    /* ===== GLOBAL STYLES ===== */

:root {
    --dkgray: #3E4C52;
    --ltgray: #FDFDFD;
    --magenta: #FF2093;
    --yellow: #FFE93B;
    --blue: #2087B3;
    --heading: 'Patua One', cursive;
    --bodytext: 'Montserrat', sans-serif;
}
* {
    margin: 0;
}
html {
    background: var(--ltgray);
    font-family: var(--heading);
}
body {
    font-size: 18px;
}
p {
    font-family: var(--bodytext);
}
img {
    border: solid 3px var(--magenta);
}
.accent-one {
    background: var(--yellow);
}
.accent-two {
    background: var(--blue);
}
.accent-three {
    background: var(--magenta);
}

/* ===== NAVIGATION ===== */
#collapse-nav,
#nav-slideout {
    display: none;
}

nav ul {
    position: fixed;
    top: 0;
    right: 5px;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 25px;
    z-index: 10;
}
nav ul li {
    margin: -25px 5px 15px;
    padding: 30px 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: all ease 0.2s;
}
#portfolio-nav:hover, #about-nav:hover, #contact-nav:hover {
    transform: translateY(24px);
}
nav ul li a {
    padding: 30px 10px 10px;
    text-decoration: none;
    color: var(--dkgray);
}

/* ===== HEADER ===== */
header {
    background-image: url(../img/moment.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#logo {
    display: flex;
    justify-content: flex-start;
}
#logo a {
    display: flex;
    width: 98%;
    margin: 10px auto;
}
#logo img {
    max-width: 100%;
    border: none;
}

/* ===== COLOR BORDERS ===== */
#portfolio::before {
    content: '';
    height: 40px;
    width: 100%;
    background-image: url('../img/blue-border.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
}
#about::before {
    content: '';
    height: 40px;
    width: 100%;
    background-image: url('../img/pink-border.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
}
#contact::before {
    content: '';
    height: 40px;
    width: 100%;
    background-image: url('../img/yellow-border.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
}

/* ===== PORTFOLIO ===== */
#portfolio {
    position: relative;
}
#portfolio .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 4em auto;
}
.portfolio-item {
    width: 28%;
    margin: 1em;
}
.portfolio-item figure {
    position: relative;
    width: 100%;
    margin: 10px 0;
}
.portfolio-item figure img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
.portfolio-item figcaption {
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 98%;
    border-radius: 10px;
    opacity: 0.8;
    font-family: var(--heading);
    font-size: 22px;
    color: var(--ltgray);
    text-align: center;
    width: 100%;
    top: 0;
}
figcaption.accent-one {
    color: var(--dkgray);
}
.portfolio-item:hover {
    cursor: pointer;
}
.portfolio-item figure:hover figcaption {
    display: flex;
}
.one img {
    border: solid 3px var(--yellow);
}
.two img {
    border: solid 3px var(--blue);
}
.three img {
    border: solid 3px var(--magenta);
}

/* ===== PORTFOLIO OVERLAY ===== */
.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 15;
}
.overlay.open {
    display: grid;
    justify-items: center;
    align-items: center;
}
.overlay .overlay-inner {
    background: var(--ltgray);
    box-sizing: border-box;
    width: 850px;
    max-width: 100vw;
    padding: 20px;
    border-radius: 15px;
}
.overlay img {
    border: none;
    width: 100%;
    border-radius: 10px;
}
.close {
    background: none;
    font-family: var(--bodytext);
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--dkgray);
    border: none;
    margin-bottom: 20px;
}
.close:hover {
    cursor: pointer;
}

/* ===== ABOUT ===== */
#about {
    background: var(--dkgray);
    padding: 50px;
    margin-top: -1%;
    position: relative;
}
#about .wrapper {
    width: 80%;
    margin: 4.5em auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#about #about-img {
    padding: 1em;
    display: flex;
    align-items: center;
}
#about #about-img img {
    max-width: 350px;
    border: solid 8px var(--magenta);
    border-radius: 50%;
}
#about .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em 1em 0.5em 4em;
}
#about .content-wrapper img {
    border: none;
    margin: 1em 0;
    max-width: 20em;
}
#about p {
    color: var(--ltgray);
}

/* ===== CONTACT ===== */
#contact {
    position: relative;
}
#contact .wrapper {
    display: flex;
    justify-content: space-around;
    margin: 2.5em auto 1.5em;
}
#contact .wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 4.5em;
    padding: 0 2em 0 4em;
}
#contact #contact-me-svg {
    max-width: 12em;
    align-self: center;
    margin-bottom: 1.25em;
}
#contact .content-wrapper img {
    border: none;
    max-width: 10em;
    padding: 0 1em;
}
#contact .content-wrapper p {
    display: flex;
    align-items: center;
    padding-left: 5em;

}
#contact .content-wrapper p:last-of-type {
    margin-top: .5em;
}
#contact .content-wrapper .social-icon {
    width: 2.5em;
    display: flex;
    padding: 0 1em 0 0;
}
#contact .portfolio-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 5em;
}

/* ===== FOOTER ===== */
footer {
    background: var(--dkgray);
    padding: 1.5em 0 1em;
}
footer p {
    color: var(--ltgray);
    text-align: center;
    font-size: 0.8em;
}

/* ===== MEDIA QUERIES ===== */
@media only screen and (max-width: 1050px) {
    /* ===== ABOUT ===== */
    #about .wrapper {
        width: 95%;
    }
    #about #about-img {
        padding: 0.5em;
    }
    #about #about-img img {
        max-width: 250px;
        border: solid 4px var(--magenta);
    }

    /* ===== CONTACT ===== */
    #contact .wrapper .content-wrapper {
        width: 80%;
        padding: 0;
    }
    #contact .content-wrapper p {
        padding-left: 0;
    }
    #contact .portfolio-item {
        padding-right: 2em;
    }
}

@media screen and (max-width: 768px) {
    /* ===== NAVIGATION ===== */
    #desktop-nav {
        display: none;
    }
    #collapse-nav {
        display: block;
    }
    #collapse-nav li {
        background: var(--magenta);
        width: 90px;
        margin: 15px 0 0;
        border-radius: 0;
        clip-path: polygon(8px 0, 100% 0%, 100% 100%, 0% 100%);
        padding: 15px 8px;
        position: absolute;
        top: 10px;
        right: -10px;
    }
    #collapse-nav li a {
        color: white;
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    #nav-slideout {
        display: block;
        background: white;
        width: 75vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        transition: all .6s ease-in-out;
        z-index: 10;
    }
    .offscreen, 
    .offscreen > * {
        right: -100vw;
    }
    .onscreen, 
    .onscreen > * {
        right: 0;
    }
    #nav-slideout ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        background: white;
        width: 50vw;
        height: 50vh;
        min-height: 350px;
        border: 2px solid var(--magenta);
        margin: 25vh 10vw 0;
        transition: all .6s ease-in-out;
    }
    #slideout-menu li {
        width: 150px;
        margin: 20px 0;
        padding: 0;
    }
    #slideout-menu li:last-of-type {
        margin-bottom: 40px;
    }
    #slideout-menu a {
        font-size: 1.5rem;
        line-height: 2;
        padding-bottom: 2px;
    }
    #slideout-menu li:nth-of-type(2) a {
        border-bottom: 2px solid var(--yellow);
    }
    #slideout-menu li:nth-of-type(3) a {
        border-bottom: 2px solid var(--blue);
    }
    #slideout-menu li:nth-of-type(4) a {
        border-bottom: 2px solid var(--magenta);
    }

    /* ===== PORTFOLIO ===== */
    #portfolio::before {
        top: -45px;
    }
    #portfolio .wrapper {
        margin: 1.5em auto;
        width: 90%;
        justify-content: space-around;
    }
    .portfolio-item {
        width: 40%;
        margin: 1em auto 0;
    }
    .portfolio-item figcaption {
        display: flex;
        position: relative;
        background: transparent;
        color: var(--dkgray);
        font-size: 1em;
        margin: 0.5em auto 0;
    }

    /* ===== ABOUT ===== */
    #about .wrapper {
        flex-direction: column;
    }
    #about .content-wrapper {
        padding: 0.5em 1em;
    }
    #about #about-img {
        justify-content: center;
        margin-bottom: 2em;
    }
    #about .wrapper .content-wrapper img {
        margin: 1em auto;
    }
    
    /* ===== CONTACT ===== */
    #contact .wrapper {
        flex-direction: column;
    }
    #contact .portfolio-item {
        padding: 0;
    }
    #contact .wrapper .content-wrapper {
        width: 60%;
        margin: 0 auto;
    }
    #contact .wrapper .content-wrapper p img {
        padding-left: 5px;
        max-width: 35%;
    }
    #contact .wrapper .content-wrapper p a img {
        padding: 0 10px 0 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 460px) {
    /* ===== HEADER ===== */
    #logo {
        max-width: 60%;
    }
    /* ===== PORTFOLIO ===== */
    #portfolio .wrapper {
        flex-direction: column;
    }
    .portfolio-item {
        width: 75%;
    }
    .portfolio-item figcaption {
        font-size: 1.25em;
    }

    /* ===== CONTACT ===== */
    #contact .wrapper .content-wrapper {
        width: 100%;
    }
    #contact .wrapper .content-wrapper p img {
        padding: 0 0.5em;
        max-width: 30%;
    }
    #contact .wrapper .content-wrapper p {
        font-size: 0.95rem;
    }
}