/* ===== COLORS & FONTS ===== */
/*  Dark Gray: #3E4C52;
    Light Gray: BG #FDFDFD;
    Magenta: #FF2093;
    Yellow: #FFE93B;
    Blue: #2087B3;
    Heading Font: 'Patua One', cursive;
    Paragraph & Nav Font: 'Montserrat', sans-serif; */
